<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"  />
    </head>
    <body>
        {% block body %}{% include '::index.html.twig' %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
        <script src="{{ asset('js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('js/scripts.js')}}"></script>
    </body>
</html>
