{% extends '::base.html.twig' %}
{% block title %} Tel4G {% endblock %}
{% block body %}
{% include '::nav.html.twig' %}
{%  for t in telephone %}
<h1>Description du téléphone</h1>
{%  endfor %}
{% endblock %}