<html>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">      
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <a class="navbar-brand"></a>
    </button></div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="index">Nos offres</a></li>
            <li><a href="phones">Nos téléphones</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
            {% endif %}
        </ul>
    </div>
  </div>
</nav>
 <div>
</html>

