<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
{% block body %}
{% trans_default_domain 'FOSUserBundle' %}
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12">
            <div class="pagePanel-default">
                <div class="pagePanel-default-body">
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %} 
                        <div class="form-group">
                            <label for="username">Nom d'utilisateur</label>
                            <input type="text" class="form-control" id="username" name="_username" value="" required="required">
                        </div>
                        <div class="form-group">
                        <label for="password">
                            Mot de passe
                        </label>
                            <input type="password" class="form-control" id="password" name="_password" required="required">
                        </div>

                        <div class="form-group">

                        </div>
                        <button class="pagePanel-default-button" type="submit" id="_submit" 
                                name="_submit"value="{{ 'security.login.submit'|trans }}" />Connexion
                        </button>
                        <a href="authentication">Je souhaite m'inscrire</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

