{% extends '::base.html.twig' %}
{% block title %} Tel4G {% endblock %}
{% block body %}
{% include '::nav.html.twig' %}
{%  for t in telephone %}
    <div class=" col-md-1"></div>
    <div class="col-md-2 ">
        <a href="phone/{{t.id}}" style="height:180px">
        <img src="{{ asset('img/' ~ t.lien) }}"><center> <h1>{{ t.nom }}</h1>
        <h2><strong>{{t.prix }} €</strong></h2></center><br></a>
    </div>
{%  endfor %}
{% endblock %}
