{% extends '::base.html.twig' %}
{% block title %} Tel4G {% endblock %}
{% block body %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">      
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <a class="navbar-brand" ></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="http://local.tel4g/app_dev.php/index">Nos offres</a></li>
                <li><a href="http://local.tel4g/app_dev.php/phones">Boutique</a></li>
            </ul>
        </div>
    </div>
</nav>
&nbsp;
    <div class="row">
        <div class=" col-md-1"></div>
        <div class=" col-md-2">
            <img src="{{ asset('img/' ~ telephone.lien) }}"alt="Responsive image">
            <h1><b><center>{{ telephone.prix }} € </center></b></h1>
        </div>
        <div class=" col-md-4">
            <div class="page-header">
            <h1>{{ telephone.nom }}</h1>
            </div>
            <table class="table table-striped">
                <tr><td><b>poids  : </b>{{ telephone.poids }} grammes</td></tr>
                <tr><td><b>autonomie  : </b>{{ telephone.autonomie }} heures</td></tr>
                <tr><td><b>Os  : </b>{{ telephone.os }} </td></tr>
                <tr><td><b>Mémoire  : </b>{{ telephone.memoire }} gigas</td></tr>
                <tr><td><b>Extension mémoire  : </b>{{ telephone.extMem }}</td></tr>
                <tr><td><b>Norme 4G : </b>{{ telephone.norme4g }} </td></tr>
            </table>
    </div>

{% endblock %}