<html>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">      
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <a class="navbar-brand" ></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index">Nos offres</a></li>
                <li><a href="telephone">Boutique</a></li>
                <li><a href="user">Mon compte</a></li>
                <li><a href="register">Nous rejoindre</a></li>
            </ul>
        </div>
    </div>
</nav>
</html>




