{% extends '::base.html.twig' %}
{% block title %} Tel4G{% endblock %}
{% block body %}
<div class="page-header">
  <h1>Abonnements</h1>
</div>
<div class="row"> <div class=" col-md-1"></div>
    <div class=" col-md-2">
    <button type="button" id = btn-1 class="btn btn-default navbar-btn"> <h4>Bas prix</h4>
      <h2>2,49€ / mois</h2>
      <h4>2 heures de communications </h4>
      <h4>vers fixes et mobiles </h4>
      <h4> zone nationale</h4>
</button>
</div>
<div class=" col-md-1"></div>
   <div class="col-md-2">
    <button type="button" id = btn-2 class="btn btn-default navbar-btn" > <h4>National</h4>
      <h2>9,99€ / mois</h2>
      <h4>Téléphonie et sms illimités </h4>
      <h4>vers fixes et mobiles </h4>
      <h4> zone nationale</h4>
</button>
  </div>
  <div class=" col-md-1"></div>
     <div class="col-md-2">
    <button type="button" id = btn-3  class="btn btn-default navbar-btn"><h4>Euro</h4>
      <h2>19,99€ / mois</h2>
      <h4>Téléphonie et sms illimités </h4>
      <h4>vers fixes et mobiles </h4>
      <h4> zone euro</h4>
    </a>
  </div>
</div>
<div class="page-header">
      <h1>Options</h1>
</div>
<div class="row"> <div class=" col-md-1"></div>
    <div class=" col-md-2">
    <button type="button" id= btn-4 class="btn btn-lg btn-primary" >  <h4>Data</h4>
      <h2>5 € / mois</h2>
      <h4>3 GO </h4>
</button>
</div>
<div class="row"> <div class=" col-md-1"></div>
    <div class=" col-md-2">
    <button type="button" id =btn-5 class="btn btn-lg btn-primary" > <h4>Data Max</h4>
      <h2>10 € / mois</h2>
      <h4>20 GO </h4>
</button>
</div>
<div class="row"> <div class=" col-md-1"></div>
<div class=" col-md-2">Vos choix :
    <div class="alert alert-info" role="alert">
    <a href="#" class="alert-link" id="offre"></a></div>
    <button type="button" id = btn-7 class="invisible"> <h4>Valider</h4>
</div>
<div class=" col-md-2">Options :
    <div class="alert alert-info" role="alert">
    <a href="#" class="alert-link" id="options"></a></div>

    <button type="button" id = btn-6 class="invisible"> <h4>Recommencer</h4>
</div>

<script src="http://code.jquery.com/jquery-3.1.1.js"></script>
{% endblock %}